@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#7e22ce, #e9d5ff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}